accelerate==0.31.0
click==8.1.7
einops==0.8.0
einops_exts==0.0.4
Flask==3.0.3
ipython==8.12.3
librosa==0.10.2.post1
matplotlib==3.9.0
munch==4.0.0
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
phonemizer==3.2.1
pydub==0.25.1
pymupdf==1.24.5
PyYAML==6.0.1
PyYAML==6.0.1
scipy==1.13.1
soundfile==0.12.1
torch==2.3.1
torchaudio==2.3.1
tqdm==4.66.4
transformers==4.41.2
typing_extensions==4.12.2
git+https://github.com/resemble-ai/monotonic_align.git@78b985b